:root {
  --background: #ffe4dd;
  --imagefilter: #ffe4dd;
  --text: #6c0ed4;
  --links: #6c0ed4;
  --ascii: #6c0ed4;
}


li.calender {
  line-height: 1.8;
  font-size: 25px;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background-color: var(--background);
  color: var(--text);
}
a {
  color: var(--links);
}
a:hover {
  color: var(--links);
}
a:active {
  color: var(--links);
}
img {
}

a[href] {
  color: var(--links);
}
a[href]:visited {
  color: var(--links);
}
nav {
  color: var(--links);
}

body {
  padding: 0px;
  margin: 0px;
}
body div {
  display: block;
  min-height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  margin: 15px;
  color: #333;
  padding: 15px;
  font-family: "input_mono_regular", "Monospaced", "Courier New", courier;
  position: relative;
  border-radius: 2px;
  color: var(--text);
}
body div ul {
  max-width: 800px;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
body div p {
  display: block;
  padding: 0px 5px;
  line-height: 20px;
}
body div p a {
  text-decoration: underline;
}
body div p a:hover {
  text-decoration: underline;
}
body div p b {
  font-weight: normal;
  font-family: "input_mono_medium";
}
body div p.readme {
}
